table {
  // margin: auto;
  width: 80%;
}

.centering {
  margin-top: 5%;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.true-class {
  color: green;
}

.false-class {
  color: red;
}
