<div class="centering">
  <form [formGroup]="form">
    <h3>New group</h3>
    <mat-form-field class="max-width">
      <mat-label>Name</mat-label>
      <input matInput focus formControlName="name" />
    </mat-form-field>
    <br />

    <mat-form-field class="max-width">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="max-width">
      <mat-label>Actual</mat-label>
      <mat-select formControlName="actual">
        <mat-option [value]="true"> Yes </mat-option>
        <mat-option [value]="false"> No </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="max-width">
      <mat-label>Active</mat-label>
      <mat-select formControlName="active">
        <mat-option [value]="true"> Yes </mat-option>
        <mat-option [value]="false"> No </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field class="max-width">
      <mat-label>Quantity</mat-label>
      <input
        formControlName="quantity"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        type="number"
        required
      />
    </mat-form-field>
    <br />

    <div style="display: flex; justify-content: center">
      <button mat-button (click)="onNoClick()" class="margin-right">
        Cancel
      </button>

      <button
        mat-button
        [mat-dialog-close]="form.value"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
